.hero {


padding: 120px 20px;
text-align: center;
}
.button {
background: var(--red);
color: var(--white);
padding: 14px 28px;
text-decoration: none;
font-size: 18px;
border-radius: 6px;
display: inline-block;
margin-top: 20px;
transition: 0.3s;
}
.button:hover {
background: var(--blue);
}