
.gallery {
  padding: 40px 20px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* sempre 2 por linha */
  gap: 20px;
  max-width: 500px; /* opcional: deixa o grid mais bonito */
  margin: 0 auto;
}

.card {
  width: 100%;
  aspect-ratio: 3 / 4;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}
